{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="container">
    <div class="Profilepage container-fluid">
        <div class="up_profile">
            <div class="picture"></div>
            <div class="profile_infos">
                <h1>Oluwatobi Olowu</h1>
                <progress id="progress" max="100" value="70"></progress>
                <div class="profile_stats">
                    <div class="passed">
                        <div class="icone_stats">
                        </div>
                        <div class="icone_text">
                            <h1>21</h1>
                            <p>Quiz passed</p>
                        </div>
                    </div>
                        <div class="ranking">
                        <div class="icone_stats">
                        </div>
                        <div class="icone_text">
                            <h1>2000è</h1>
                            <p>Rank</p>
                        </div>
                    </div>
                        <div class="correct">
                        <div class="icone_stats">
                        </div>
                        <div class="icone_text">
                            <h1>200</h1>
                            <p>Correct answers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="back_profile">
            <div class="achievements">
                <div class="top_achievements">
                    <h3>Achievements</h3>
                    <progress id="progress" max="100" value="30"></progress>
                </div>
                <div class="bottom_achievements">
                    
                </div>
            </div>
            <div class="category">
                <div class="top_category">
                    <h3>Favorite Category</h3>
                    <p>View all</p>
                </div>
                <div class="grid-card">
                    <div class="row grid_card1">
                        <div class="col m-3 mt-0 card_theme"></div>
                        <div class="col m-3 mt-0 card_theme"></div>
                    </div>
                    <div class="row grid_card2">
                        <div class="col m-3 mt-0 card_theme"></div>
                        <div class="col m-3 mt-0 card_theme"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
