@import "~bootstrap/scss/bootstrap.scss";
@import "./Theme.scss";
@import "./SideNav.scss";
@import "./Quizz.scss";
@import "./Profil.scss";
@import "./Home.scss";
@import "./GameMode.scss";
@import "./Topic.scss";
@import "./Login.scss";

* {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
}