@import "~bootstrap/scss/bootstrap.scss";
@import "./Theme.scss";
@import "./SideNav.scss";
@import "./Profil.scss";
@import"./Home.scss";
@import"./GameMode.scss";
@import "./Topic.scss";
* {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
}
