.gamemodeSelection {
    margin-top: 10vh;
    background-color: #FBF9F9;
    height: 88vh;
    width: 78vw;
    margin-left: 4vw;
    border-radius: 30px;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    position: absolute;
    h1 {
        margin-top: 2vh;
        margin-right: 2vw;
        font-weight: 700;
        color: #A594F9;
    }
    h3 {
        margin-right: 2.5vw;
        color: black;
    }
    h1 {
        margin-top: 2vh;
        margin-right: 2vw;
        font-weight: 700;
        color: #A594F9;
    }
    h3 {
        margin-right: 2.5vw;
        color: black;
    }
    svg {
        margin-top: 2vh;
        width: 5vw;
        height: 5vh;
        position: absolute;
    }
}

.gridCardGamemode {
    display: flex;
    .cardGamemode {
        background-color: #A594F9;
        height: 25vh;
        width: 22.5vw;
        border-radius: 30px;
        color: white;
        margin-left: 2.5vw;
        h2 {
            width: 100%;
            font-weight: 700;
        }
    }
}

@media only screen and (max-width: 1700px) {
    .gamemodeSelection {
        margin-left: 8vw;
    }
}