.quizzView {
    margin-top: 11vh;
    margin-left: 2vw;
    background-color: #FBF9F9;
    height: 88vh;
    width: 96vw;
    border-radius: 30px;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    position: absolute;
    svg {
        margin-top: 2vh;
        width: 5vw;
        height: 5vh;
        position: absolute;
    }
}

.quizzTheme {
    padding-top: 2vh;
    padding-right: 2vw;
    h1 {
        font-weight: bold;
        color: #a594f9;
    }
    h3 {
        color: black;
        font-size: large;
    }
}

.questionBox {
    display: flex;
    padding-top: 2vh;
    padding-right: 2vh;
    .pictureQuestion {
        display: flex;
        background-color: rgb(81, 95, 20);
        height: 25vh;
        width: 22.5vw;
        border-radius: 30px;
        color: white;
        margin-left: 2.5vw;
        h2 {
            margin-top: 19vh;
            margin-left: 2vw;
        }
    }
    .statementQuestion {
        margin-left: 2.5vw;
        h2 {
            font-size: 40px;
            font-weight: 600;
            color: #A594F9;
        }
        p {
            font-size: 30px;
            font-weight: 400;
        }
    }
}

.answerText {
    padding-right: 2vw;
    padding-left: 2vw;
    color: #A594F9;
    p {
        font-size: 23px;
        font-weight: 600;
    }
}

.boxAnswerCards {
    background: #FFFFFF;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    border-radius: 30px;
    width: 95%;
    height: 33vh;
    .answerCard {
        background-color: #A594F9;
        height: 11vh;
        width: 20vw;
        border-radius: 30px;
        color: white;
        margin-left: 2.5vw;
        align-items: center;
        justify-content: center;
        box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    }
}

@media only screen and (max-width: 1700px) {
    .quizzView {
        margin-left: 8vw;
    }
}