* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
}

a:link {
    text-decoration: none!important;
}

body {
    background-color: #FFFFFF;
}

.SideNav {
    position: absolute;
    display: flex;
    margin: 0;
}

nav {
    background-color: #FBF9F9;
    width: 100vw;
    height: 10vh;
<<<<<<< HEAD
=======
}

aside {
    width: 20vw;
    height: 100vh;
    text-align: center;
}

aside h1 {
    margin-top: 2vh;
    color: #A594F9;
    font-weight: bolder;
}

aside ul {
    width: 100%;
    padding-left: 0;
    margin-left: 10%;
    margin-top: 10vh;
    justify-content: center;
}

aside li {
    list-style-type: none;
    height: 7vh;
    width: 80%;
    color: #A594F9;
    font-size: 20px;
    margin-top: 2vh;
    padding-top: 1vw;
    border-radius: 30px;
}

nav {
>>>>>>> 9c24081a687a6e7d7562cb29b04361669449a3e5
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputsearch {
    height: 5vh;
    width: 20%;
    border-radius: 30px;
    border: none;
    text-indent: 10%;
    color: #A594F9;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}

.inputsearch::placeholder {
    color: #A594F9;
}

nav li:hover {
    background-color: #A594F9;
    color: #FFFFFF;
    cursor: pointer;
    transition: 1s;
}

.start_quiz {
    width: 10%;
    height: 5vh;
    color: #FFFFFF;
    background-color: #A594F9;
    border-radius: 30px;
    border: transparent none;
}

.home_profile {
    display: flex;
    margin-right: 5vw;
}

.profile_picture {
    border-radius: 10vw;
    height: 5vh;
    width: 5vh;
    background-color: #A594F9;
}

.home_profile p {
    color: #A594F9;
    margin-left: 1vw;
    padding-top: 1vh;
}