.topicSelection {
    margin-top: 11vh;
    margin-left: 2vw;
    background-color: #FBF9F9;
    height: 88vh;
    width: 96vw;
    border-radius: 30px;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    position: absolute;
    h1 {
        margin-top: 2vh;
        margin-right: 2vw;
        font-weight: 700;
        color: #A594F9;
    }
    h3 {
        margin-right: 2.5vw;
        color: black;
    }
    svg {
        margin-top: 2vh;
        width: 5vw;
        height: 5vh;
        position: absolute;
    }
}

.gridCardTopic {
    overflow-y: auto;
    display: flex;
    margin: 0;
    padding: 0;
    .cardTopic {
        background-size: cover;
        display: flex;
        background-color: red;
        height: 25vh;
        width: 20vw;
        margin-left: 2vw;
        margin-bottom: 2vh;
        border-radius: 30px;
        color: white;
        h3 {
            position: absolute;
            color: #A594F9;
            margin-top: 19vh;
        }
    }
}

@media only screen and (max-width: 1700px) {
    .topicSelection {
        margin-left: 8vw;
    }
}