{% extends 'base.html.twig' %}

{% block title %}Hello ThemeController!{% endblock %}

{% block body %}
<div class="container theme">
    <div class="themeSelection container-fluid">

        <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1" viewBox="0 0 20 20" fill="currentColor">
            <a href="{{path('app_home')}}">  <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd" /></a>
        </svg>
        

        <h1 class="text-end">Select Theme</h1>
        <h3 class="text-end">Then you'll choose a topic !</h3>  

    <div class="gridCardTheme">         
        <a href="{{path("app_topic")}}">
            <div class="cardTheme">
                <h2>Geographie</h2>
            </div>
        </a>  

        <div class="cardTheme">
            <h2>Jeux vidéos</h2>
        </div>
        <div class="cardTheme">
            <h2>Musique</h2>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
